@model MVCCoreApp.Models.indexmodel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
</head>
<body>
    <p>hello nam day :D</p>
    <p>@Model.Message</p>
</body>
</html>
