
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>bac</title>
</head>
<body>
    <div class="">hello from customer index</div>
</body>
</html>
